@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

trix-toolbar {
    border: 1px solid #d1d5db;
    border-bottom: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    background: #f9fafb;
    padding: 4px;
}
trix-editor {
    border: 1px solid #d1d5db;
    border-radius: 0 0 0.5rem 0.5rem;
    min-height: 12rem;
    padding: 1rem;
}
trix-toolbar + trix-editor {
    border-top: 0;
}
