@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

body {
    font-family: "Urbanist", sans-serif;
}

@media (min-width: 1550px) {
    .container-fluid {
        max-width: 1600px !important;
    }
}

@media (min-width: 1280px) {
    .container-fluid {
        max-width: 1450px;
    }
}
@media (min-width: 1024px) {
    
    .container {
        max-width: 1120px;
    }
}

.container-fluid {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
}

.font-sans {
    font-family: 'Poppins', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    opacity:0;
    cursor:pointer;
    position:absolute;
    width:100%;
    left:0;
}

input:focus{
    outline:none !important;
    box-shadow:none !important;
}

@keyframes slowZoom{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.08);
    }
}

.animate-slowZoom{
    animation:slowZoom 8s linear infinite alternate;
}

.destinations .swiper-button-prev, 
.destinations .swiper-rtl .swiper-button-next {
    left: -20px;
    right: auto;
}

.destinations .swiper-button-next, 
.destinations .swiper-rtl .swiper-button-prev {
    right: -20px;
    left: auto;
}

.destinations .swiper-button-next:after, 
.destinations .swiper-button-prev:after {
    font-size: 18px;
    font-weight: bold;
}

@media (min-width: 1280px) {

    .destinations .swiper-button-prev, 
    .destinations .swiper-rtl .swiper-button-next {
        left: -10px;
        right: auto;
    }

    .destinations .swiper-button-next, 
    .destinations .swiper-rtl .swiper-button-prev {
        right: -10px;
        left: auto;
    }

}